/* C O M M O N ******************* */
body {
  background: #f8f8f5;
  font-family: 'Open Sans', sans-serif;
  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  
  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
}

a, a:hover, a:focus {
  text-decoration: none;
}

/* H E A D E R ******************* */

.logo {
  text-align: center;
  margin: 0px auto 20px;
}

.logo img {
  max-width: 250px;
}

/* M A I N *********************** */

.main-wrapper{
  max-width:600px;
  min-width:550px;
  background: #F2F2F2;
  margin:20px auto;
  border-radius: 5px;
  box-shadow: 0px 0px 15px rgba(0,0,0,.3);
  text-align:center;
  background: #F2F2F2;
  padding:20px;

}

.question-wrapper{
  background:#fff;
  border-radius: 10px;
  box-shadow: 0px 0px 3px 0px rgba(92,92,92,.5);
  padding: 20px;
  min-width:500px;
}
.h1-question{
  border-radius: 5px;
  background: #a0a384;
  color: #fff;
  font-size: 25px;
  line-height:30px;
  text-align: center;
  padding: 20px;
  margin:0 auto 20px;
}

.scores{
  display: inline-block;
  color: #fff;
  border-radius: 5px;
  background: #a0a384;
  padding: 5px;
  margin: 5px;
  font-size: 15px;
}

.counter{
  font-size: 80px;
  text-align: center;
  color: #667;
  line-height: 90px;
  display: inline-block;
  width: 400px;
  max-height: 90px;
}

.equalizer-img, .equalizer-gif-img{
  width:400px;
}

#hidden{
  display:none;
}
.controls-wrapper{
  text-align:center;
  position:relative;
}
.controls{
  display: inline-block;
  width: 100px;
  height: 100px;
  box-shadow: 0 0 5px #521400,0 2px 5px #fff inset, 0 -2px 5px #292929 inset;
  background: #D0CCCC;
  border-radius: 50%;
  padding: 10px;
  font-size: 20px;
  margin: 15px;
  font-weight: bold;
  color: #555;
  position:relative;
}

.play:active{
  box-shadow: 0 -2px 5px #fff inset, 0 1px 5px #292929 inset;
  transition: box-shadow .5s linear;
}

.stop:active{
  box-shadow: 0 -2px 5px #fff inset, 0 1px 5px #292929 inset;
  transition: box-shadow .3s linear;
}

.play-icon{
  display: inline-block;
  position: absolute;
  font-size: 70px;
  left: 18px;
  top: 12px;
}

.play:active .play-icon, .stop:active .stop-icon{
  top: 14px;
}

.stop-icon{
  display:inline-block;
  position:absolute;;
  font-size:70px;
  left:12px;
  top:12px;
}

.variants-input{
  width: 400px;
  border-radius: 5px;
  height: 40px;
  line-height: 40px;
  font-size: 30px;
  padding: 10px;
  margin: 10px;
  box-shadow: 0 0 5px #521400;
  background: #E3E6E6;
  color: #666677;
  text-shadow: 0 0 5px #fff;
  text-align: center;
}

.variants-input:focus, #check:focus{
  outline:none;
  color: #555;
}

#check{
  display:inline-block;
  width:400px;
  border-radius: 5px;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  margin: 10px;
  color:#fff;
  background:#a0a384;
  box-shadow: 0 0 5px #521400, 0 -2px 5px rgba(0,0,0,.5) inset, 0 2px 5px rgba(255,255,255,.5) inset;
}
#check:hover{
  cursor:pointer;
}
#check:active{
  line-height: 42px;
  box-shadow: 0 0 5px #521400, 0 2px 5px rgba(0,0,0,.5) inset, 0 -2px 5px rgba(255,255,255,.5) inset;
}

.info{
    position: absolute;
    max-width: 600px;
    min-width: 400px;
    background: #a0a384;
    color: #FFFFFF;
    font-size: 22px;
    padding: 20px 15px;
    text-align: left;
    top: calc(66% - 200px);
    left:calc(50% - 300px);
    border-radius: 5px;

}

.info ul{
  list-style:square;
}
.info-button-wrapper{
  text-align:center;
}
.info-button{
  display:inline-block;
  padding:10px 50px;
  font:25px;
  border: 3px solid #FFF;
  border-radius: 5px;
}

.info-button:hover{
  cursor:pointer;
}


.result{
  position: absolute;
    width: 500px;
    background: #a0a384;
    color: #FFFFFF;
    font-size: 39px;
    padding: 20px 15px;
    text-align: center;
    top: calc(86% - 200px);
    left: calc(50% - 250px);
    border-radius: 5px;
}

.result-button{
  display:inline-block;
  padding:10px 50px;
  font-size:25px;
  border: 3px solid #FFF;
  border-radius: 5px;
}

.result-button:hover{
  cursor:pointer;
}

.finish{
  position: absolute;
  width: 700px;
  background: #a0a384;
  color: #FFFFFF;
  font-size: 49px;
  padding: 64px 15px;
  text-align: center;
  top: calc(56% - 200px);
  left: calc(50% - 350px);
  border-radius: 5px;
}


/* sticky F O O T E R ************ */

.page-wrap {
  min-height: 100vh;
  padding-top:10px;
  /* equal to footer height */
}

.page-wrap::after {
  content: "";
  display: block;
  height:0;
  visibility:hidden;
  clear:both;
}

.footer, .page-wrap::after {
  height: 60px; 
  clear:both;
}

.footer {
  background-color: #b5b6a3;
}

.footer p {
  color: #fff;
  text-align: center;
  line-height: 60px;
  margin: 0;
}